{% extends 'base/base.html' %}

{% block content %}
	<!-- banner -->
	<div class="banner">  
		<div class="header agileinfo-header"><!-- header -->
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a href="index.html">Marmato</a></h1>
						<h3 class="subtitle">Pesebre de oro de Colombia</h3>
					</div> 
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-left"> 
							<li><a href="index.html" class="w3ls-hover active">Inicio</a></li>
							<li><a href="#about" class="btn w3ls-hover scroll">Nosotros</a></li>   
							<li><a href="#services" class="btn w3ls-hover scroll">Encuentro</a></li>
							<!-- <li><a href="#team" class="btn w3ls-hover scroll">Marmatólogos 2018</a></li> -->
							<li><a href="#gallery" class="btn w3ls-hover scroll">Galería</a></li>
							<li><a href="#testimonials" class="btn w3ls-hover scroll">Repositorios</a></li>
							<li><a href="#contact" class="btn w3ls-hover scroll">Contacto</a></li>
						</ul>	   
						<div class="detail-w3l">
			<ul>
				<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> + 57 311-366-3331</li>
				
			</ul>
		</div>

						<div class="clearfix"> </div>
					</div><!-- //navbar-collapse --> 
				</div><!-- //container-fluid -->
			</nav>
		</div><!-- //header -->	
		<!-- banner-text -->
		<div class="banner-text"> 
			<div class="container">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="banner-w3lstext">
								<h2 class="italic">Minería Tradicional</h2>
								<p>El municipio de Marmato se encuentra ubicado al noroccidente del departamento de Caldas, Colombia; Geografía de ricos yacimientos auríferos, que le ha permitido a generaciones  de habitantes, forjar un territorio y una cultura minera, rica en prácticas productivas, mitos y costumbres.</p>
							</div>
						</li>
						<li>
							<div class="banner-w3lstext">
								<h3 class="italic">Paisaje Cultural</h3>
								<p>La riqueza de Marmato no se puede calcular tan solo contabilizando sus reservas mineralógicas . Existe  además una cultura minera  muy arraigada en la cotidianidad marmateña, soportada por diversos factores históricos, económicos y simbólicos que constituyen un patrimonio sumamente valioso esculpido en forma de paisaje sobre las laderas del cerro el burro.</p>
							</div>
						</li>
						<li>
							<div class="banner-w3lstext">
								<h3 class="italic">Turismo Sustentable</h3>
								<p>La curiosa relación minería y turismo supone un desarrollo analógicamente semejante al que las fuerzas productivas globales experimentan en la actualidad, y que en Marmato es común hace algún tiempo: la minería del oro, y la minería de datos. Esta última desarrollada por los investigadores interesados en la riqueza cultural del pueblo minero, ahora enfocado, en la búsqueda de nuevos turistas conscientes y abiertos a la otredad que implica el encuentro intercultural que ha existido desde tiempos inmemoriales en Marmato, y que hora el turismo sustentable resignifica, como apertura práctica a una multiplicidad infinita de racionalidades diversas, entre las cuales el patrimonio marmateño exige el compromiso recíproco con el desarrollo sustentable.</p>
							</div>
						</li>
					</ul> 
				</div> 	 
			</div>
		</div>
		<!-- //banner-text -->    
	</div>
	<!-- //banner --> 
<!-- about -->
<div class="about" id="about">
	<div class="container">
	<div class="about-heading">
		<h2>Comité para el desarrollo turístico de Marmato</h2>
	</div>
		<div class="about-grids">
		<div class="col-md-6 about-left">
			<img src="{{ url_for('static', filename='images/about.jpg') }}" alt="" />
		</div>
		<div class="col-md-6 about-right text-justify">
			<p>Es una organización sin ánimo de lucro que desarrolla actividades económicas, empresariales, ambientales, culturales y sociales encaminadas al fomento del turismo en el municipio de Marmato.</p>
			<div class="more">
				<a href="#" data-toggle="modal" data-target="#myModal">Leer Más</a>
			</div>
		</div>
		<div class="clearfix"></div>
		</div>
		</div>
		</div>
		<div class="about-grids1" id="services">
		<div class="container">
		<div class="col-md-5 about-bottom-left">
			<div class="w3-about-bottom-head">
			<h3>Encuentro Anual de Marmatólogos</h3>
			<div class="more">
				<a href="#" data-toggle="modal" data-target="#encuentroAnual">Leer Más</a>
			</div>
			</div>
		</div>
		<div class="col-md-7 about-bottom-right">
			<div class="col-md-5 about-bottom-icon1">
			<i class="fa fa-th-large" aria-hidden="true"></i>
			<h4>8</h4>
			<h3>Versiones del Encuentro</h3>
			</div>
			<div class="col-md-7 about-bottom-icon1">
			<i class="fa fa-book" aria-hidden="true"></i>
			<h4>70</h4>
			<h3>Exposiciones de</h3>
			<h4>Investigaciones Nacionales</h4>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-5 about-bottom-icon1">
			<i class="fa fa-group" aria-hidden="true"></i>
			<h4>591</h4>
			<h3>Asistentes</h3>
			</div>
			<div class="col-md-7 about-bottom-icon1">
			<i class="fa fa-globe" aria-hidden="true"></i>
			<h4>20</h4>
			<h3>Exposiciones de</h3>
			<h4>Investigaciones Internacionales</h4>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		</div>
		</div>
<!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header"> 
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="span1" aria-hidden="true">&times;</span></button>						
						<h4 class="modal-title"> Creación:</h4>
					</div> 
					<div class="modal-body">
					<div class="agileits-w3layouts-info text-justify">
						<img src="{{ url_for('static', filename='images/ga9.jpg') }}" alt="" />
						<p>Foto: @JessAr</p>
						<p>El Comité de Turismo de Marmato, surge en el año 2007, y se da como producto de unos talleres de socialización de un estudio de investigación realizado por el antropólogo Carlos Julio González Colonia con un grupo interdisciplinario de la Universidad Tecnológica de Pereira (UTP).</p>

						<p>En el momento de su creación, los líderes del Comité de Turismo se pusieron como meta, posicionar este sector en el segundo renglón de la economía del municipio.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //modal -->

<!-- modal -->
	<div class="modal about-modal fade" id="encuentroAnual" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header"> 
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="span1" aria-hidden="true">&times;</span></button>						
						<h4 class="modal-title"> Encuentro anual de Marmatólogos</h4>
					</div> 
					<div class="modal-body">
					<div class="agileits-w3layouts-info text-justify">
						<img src="{{ url_for('static', filename='images/encuentromarmato.jpg') }}" alt="" />
						<p>El encuentro de Marmatólogos nace inicialmente como estrategia intermediaria de comunicación entre los investigadores académicos que desde los años 80 del siglo XX, pero en gran cantidad a partir del año 2012, visitan nuestro pueblo minero, y la gran cantidad de organizaciones sociales locales que a partir del año 2006 surgieron como respuesta social, cultural, política y/o económica a las transformaciones radicales que en nuestra vida cotidiana ha causado y sigue causando la presencia de un proyecto transnacional de extracción aurífera. </p>

						<p>Estos investigadores que desde diversas perspectivas disciplinares llegan a Marmato, ya sea para completar sus tesis de pregrado o posgrado, o para iniciar algún proyecto de investigación en alguna de las áreas académicas en que trabajan los grupos de investigación al interior de universidades colombianas y extranjeras, no solían dejar una huella significativa en la población.</p>

						<p>Este evento académico pensado como una especie de congreso de Marmatólogos que se dan cita en el pueblo minero para comunicarse con los líderes de las organizaciones sociales locales; busca facilitar un ejercicio de reciprocidad entre los investigadores y los ciudadanos que se constituyen en informantes claves para las investigaciones académicas. Así la gente puede percibir un beneficio directo en la presencia continuada de académicos que los interrogan dentro de sus casas, en un café, un bar-discoteca, una oficina, un socavón, un bareque, un molino o en alguna de las curvas de los serpenteantes caminos de piedra que conducen a cada lugar del pueblo.</p>

						<p>Pero... ¿En qué términos logran los ciudadanos percibir ese beneficio?: En el hecho de que todas estas investigaciones revelan aspectos que difícilmente pueden ser pensados desde adentro de sus vidas cotidianas. Aspectos que siendo revelados pueden ser usados como argumentos políticos de resistencia civil por parte de los líderes de las organizaciones sociales locales.</p>

						<p>Es por ello que el encuentro de Marmatólogos se ha convertido en una instancia permanente de reflexión, entre académicos y líderes sociales locales, sobre los valores patrimoniales de la cultura minera marmateña, y sobre diversas formas de interpretación política y económica de ese patrimonio común a todos los habitantes de este territorio. Esto explica por qué muy pronto esas mismas organizaciones sociales unieron esfuerzos para facilitar su financiación y ejecución logística.</p>

						<p>Hay dos cuestiones que es necesario mencionar para clarificar el enfoque ideológico de nuestro evento:</p>

						<p>En primer lugar el respeto que profesamos por la pluralidad de puntos de vista desde los cuales los académicos enfocan ideológicamente sus investigaciones. El encuentro de Marmatólogos no hace distinciones de tipo dicotómico entre investigadores o entre organizaciones sociales locales (por ejemplo derecha o izquierda). Y no haciendo esto se desmarca de cualquier interés ideológico particular, pero no para imitar a los Suizos, sino más bien para constituirse en espacio democrático de construcción de pensamiento y acción política diversos, reconociendo que la democracia no existe en el consenso sino más bien en el disenso permanente. Nada puede ser más parecido a la sociedad marmateña que se ha construido históricamente como lugar de disenso permanente y, sin embargo, ostenta el proceso más antiguo en Colombia de formación histórica de una cultura minera.</p>

						<p>En segundo lugar la interpretación que el evento hace de los académicos es muy diferente del que hacen los grandes congresos universitarios. Aquí los marmateños consideramos que los investigadores son algo así como intérpretes de nuestros puntos de vista; una suerte de traductores que colocan en palabras propias de una lógica organizativa estatal y/o empresarial, nuestros particulares y complejos modos culturales de referirnos a nuestro mundo social y de organizarnos para reproducir nuestra sociedad minera tradicional.</p>

						<p>Ambas cuestiones nos han llevado a valorar mucho tanto las posibilidades reflexivas que sobre nuestra realidad social suscita el encuentro con académicos, como la seguridad que nos proporciona el vernos acompañados permanentemente de instituciones académicas, en medio de una situación social de amenaza constante de desaparición del sustrato material de nuestra cultura minera: nuestro cerro y en derredor, nuestras hermosas cordilleras andinas.</p>

						<p>Una última aclaración necesaria para la historia del evento, es que él mismo no inició llamándose como hoy lo llamamos. Antes se denominaba “Ciclo Anual de Socialización de Trabajos Académicos sobre el Pueblo Minero”. Este nombre tan literal sirvió para ir descubriendo lo que verdaderamente ocurría cuando se reunían los académicos con las organizaciones sociales marmateñas: se convertía en un espacio para pensar nuestro devenir social, para re significar (y a veces caer en cuenta de) nuestra singularidad cultural minera en conflicto y para poner en relación nuestro patrimonio con la acción política. Decidimos entonces darle el nombre de lo que allí ocurría: un encuentro de Marmatólogos.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //modal -->

<!-- //about -->
<!-- /offer -->
<!-- <div class="w3-offer" id="w3-offer">
<div class="container">
	<div class="w3-offer-head">
	<h3>Servicios</h3>
	
	
	</div>
	<div class="w3-offer-grids">
		<div class="col-md-9 w3-left-offer-grid">
		<div class="col-md-6 w3-left-offer-content">
		<div class="col-md-2 w3-left-offer-icon">
		<i class="fa fa-renren" aria-hidden="true"></i>
		</div>
		<div class="col-md-10 w3-left-offer-icon">
		<p>Vestibulum et pellentesque felis. Fusce porta fringilla dignissim. Nam ultricies augue mi, quis mattis nisl viverra vel. Cras rhoncus eu nisl in convallis</p>
		</div>
		<div class="clearfix"></div>
		</div>
		<div class="col-md-6 w3-left-offer-content">
		<div class="col-md-2 w3-left-offer-icon">
		<i class="fa fa-arrows" aria-hidden="true"></i>
		</div>
		<div class="col-md-10 w3-left-offer-icon">
		<p>Vestibulum et pellentesque felis. Fusce porta fringilla dignissim. Nam ultricies augue mi, quis mattis nisl viverra vel. Cras rhoncus eu nisl in convallis</p>
		</div>
		<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-6 w3-left-offer-content1">
		<div class="col-md-2 w3-left-offer-icon">
		<i class="fa fa-fort-awesome" aria-hidden="true"></i>
		</div>
		<div class="col-md-10 w3-left-offer-icon">
		<p>Vestibulum et pellentesque felis. Fusce porta fringilla dignissim. Nam ultricies augue mi, quis mattis nisl viverra vel. Cras rhoncus eu nisl in convallis</p>
		</div>
		<div class="clearfix"></div>
		</div>
		<div class="col-md-6 w3-left-offer-content1">
		<div class="col-md-2 w3-left-offer-icon">
		<i class="fa fa-subway" aria-hidden="true"></i>
		</div>
		<div class="col-md-10 w3-left-offer-icon">
		<p>Vestibulum et pellentesque felis. Fusce porta fringilla dignissim. Nam ultricies augue mi, quis mattis nisl viverra vel. Cras rhoncus eu nisl in convallis</p>
		</div>
		<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		</div>
		<div class="col-md-3 w3-right-offer-grid">
		</div>
		<div class="clearfix"></div>
	
	</div>
	<div class="w3-offer-bottom-grid">
		<div class="col-md-3 w3-bottom-offer1">
		<i class="fa fa-mixcloud" aria-hidden="true"></i>
			<h3>Lorem ipsum</h3>
			
		</div>
		<div class="col-md-3 w3-bottom-offer1">
		<i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
		<h3>duken monst</h3>
		</div>
		<div class="col-md-3 w3-bottom-offer1">
		<i class="fa fa-wifi" aria-hidden="true"></i>
		<h3>wifi ipsum</h3>
		</div>
		<div class="col-md-3 w3-bottom-offer1">
		<i class="fa fa-delicious" aria-hidden="true"></i>
		<h3>food nepsu</h3>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="w3-offer-pos-img">
		<img src="{{ url_for('static', filename='images/suit1.png') }}" alt="img">
	</div>
</div>
</div> -->
<!-- //offer -->
<!-- team -->
	<!--<div class="team jarallax" id="team">
		<div class="team-dot">
			<div class="container">
				<div class="w3ls-heading team-heading">
					<h3>Marmatólogos Invitados 2018</h3>					
				</div>
				<div class="team_gds">
					<div class="col-md-3 team_gd1">
						<div class="team_pos">
							<div class="team_back"></div>
							<img class="img-responsive" src="{{ url_for('static', filename='images/tm1.jpg') }}"  alt=" ">
							<div class="team_info">
								<a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
								<a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
								<a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
							</div>
						</div>
						<h4>Victoria</h4>
						<p>Lorem Ipsum</p>
					</div>
				
					<div class="col-md-3 team_gd1">
						<div class="team_pos">
							<div class="team_back"></div>
							<img class="img-responsive" src="{{ url_for('static', filename='images/tm2.jpg') }}"  alt=" ">
							<div class="team_info">
								<a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
								<a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
								<a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
							</div>
						</div>
						<h4>Patrick</h4>
						<p>Lorem Ipsum</p>
					</div>
					<div class="col-md-3 team_gd1">
						<div class="team_pos">
							<div class="team_back"></div>
							<img class="img-responsive" src="{{ url_for('static', filename='images/tm3.jpg') }}"  alt=" ">
							<div class="team_info">
								<a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
								<a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
								<a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
							</div>
						</div>
						<h4>Thompson</h4>
						<p>Lorem Ipsum</p>
					</div>
					<div class="col-md-3 team_gd1">
						<div class="team_pos">
							<div class="team_back"></div>
							<img class="img-responsive" src="{{ url_for('static', filename='images/tm4.jpg') }}"  alt=" ">
							<div class="team_info">
								<a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
								<a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
								<a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
							</div>
						</div>
						<h4>Federica</h4>
						<p>Lorem Ipsum</p>
					</div>
					<div class="clearfix"></div>		
				</div>
			</div>
		</div>
	</div> -->
	<!-- //team -->
<!-- gallery -->
	<div class="gallery" id="gallery">
		<h3 class="w3-hallery-head">Galería</h3>
		
		<div class="w3agile_gallery_grids">
			{% for photo in galeria %}
			<div class="col-md-3 w3agile_gallery_grid">
				<div class="w3agile_gallery_image">
					{% if photo.image_url %}
					<a class="sb" href="http://drive.google.com/uc?export=view&id={{photo.image_url}}">
						<figure>
							<img src="http://drive.google.com/uc?export=view&id={{photo.image_url}}" alt="" class="img-responsive" />
							<figcaption>
								<h4>{{ photo.title }}</h4>
								<p>Foto: {{ photo.author }}</p>
								<p>
									{{ photo.description }}
								</p>
							</figcaption>
						</figure>
					</a>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		   <div class="clearfix"> </div>
		</div>
	
	</div>
<!-- //gallery -->

<!-- testimonials -->
	<div class="testimonials" id="testimonials">
		<div class="container">
			<div class="w3_agile_team_grid">
				
				<div class="w3_agile_team_grid_right">
					<h3>Repositorio de Investigaciones y Trabajos Académicos</h3>
					
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3ls_testimonials_grids">
				 <section class="center slider">
				 	{% for investigacion in investigaciones %}
				 	<div class="agileits_testimonial_grid">
						<div class="w3l_testimonial_grid">
							<p>{{ investigacion.title }}</p>
							<h4>{{ investigacion.authors }}</h4>
							<h5>{{ investigacion.category }}</h5>
    						{% if investigacion.file_url %}
					    	<div class="more text-center">
								<a href="https://drive.google.com/file/d/{{investigacion.file_url}}/view?usp=sharing" target="_blank">Ver investigación</a>
							</div>
							{% else %}
							<div class="more text-center">
								<a href="{{investigacion.link_url}}" target="_blank">Ver investigación</a>
							</div>
							{% endif %}
							<!-- <div class="w3l_testimonial_grid_pos">
								<img src="{{ url_for('static', filename='images/t1.jpg') }}" alt=" " class="img-responsive" />
							</div> -->
						</div>
					</div>
				 	{% endfor%}
				</section>
				<div class="clearfix"></div>
				<div class="more text-center">
					<a href="/investigaciones" target="_blank">Ver más investigaciones</a>
				</div>
			</div>
		</div>
	</div>
<!-- //testimonials -->
{% endblock %}